__pycache__/
*.pyc
*.pyo
*.so

build/
dist/
*.egg-info/

/data/
experiments/
results/
logs/
text_features/
feature_extraction/video_lengths_cache/
.omx/
demo/
demo-gradio/
analysis/
.gradio/
perception_models/*.egg-info/

libs/nms/build/
libs/nms/dist/
libs/nms/*.egg-info/

final_tree.txt
tal_audit.txt
